/* todos os imports tem que ser colocados no inicio do CSS */
@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body{
    background-color: lightgrey;
}

.figura{
    width: 200px;
}
h1{
    color: aliceblue;
    background-color: black;
}
/* classe para configuração de fonte */
.fonte{
    color: black;
    font-size: 26px;
    font-family: "Gupter", serif;
}
h2{
    font-size: 40px;
    text-align: center;
}
